<!DOCTYPE html>
@using Outsourcing.Core.Common
<html lang="en">
<!-- Mirrored from logicsforest.com/ideahomes_demo_files/index_3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2017 12:01:27 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="@ViewBag.description">
    <meta name="keywords" content="bat dong san, cho thue nha quan go vap, go vap, ban nha quan go vap, Humiland, humiland.com" />
    <meta property="og:url" content="@ViewBag.url" />
    <meta property="fb:app_id" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewBag.title" />
    <meta property="og:description" content="@ViewBag.description" />
    <meta property="og:image" content="@ViewBag.image" />
    <title>@ViewBag.title </title>
    <link rel="stylesheet" type="text/css" href="/Content/humiland/css/master.css">
    <link rel="stylesheet" type="text/css" href="/Content/humiland/css/color/color-1.css" id="color" />
    <link rel="shortcut icon" href="/Content/humiland/images/short_icon.png">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/Content/humiland/js/jquery.2.2.3.min.js"></script>
    <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
    <script async src="~/Content/humiland/js/Dropzone.js"></script>
    <link href="~/Content/humiland/css/dropzone2.min.css" rel="stylesheet" />
    <style>
        #menu-hide-1 {
            display: none;
        }

        #menu-hide-2 {
            display: none;
        }

        #menu-hide-3 {
            display: none;
        }

        #menu-hide-4 {
            display: none;
        }

        #menu-hide-5 {
            display: none;
        }

        #welcome {
            float: left;
            color: white;
        }
    </style>

</head>

<body>
    @RenderSection("scripts", required: false)
    <!-- LOADER -->
    <div class="loader">
        <div class="cssload-thecube">
            <div class="cssload-cube cssload-c1"></div>
            <div class="cssload-cube cssload-c2"></div>
            <div class="cssload-cube cssload-c4"></div>
            <div class="cssload-cube cssload-c3"></div>
        </div>
    </div>
    <!-- LOADER -->
    <!-- BACK TO TOP -->
    <a href="#" class="back-to"><i class="icon-arrow-up2"></i></a>
    <!-- BACK TO TOP -->
    <!--  Header Top Start  -->
    <header id="header-top_3">
        <div id="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        @if (Request.IsAuthenticated)
                        {
                            <span id="welcome">Welcome, @slitString.TruncateAtWord(User.Identity.Name, 20)</span>
                        }
                        <div class="hidden">
                            <h1>hidden</h1>


                        </div>
                        <p class="p-white"></p>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12 text-right">

                        <div class="header-top-links">
                            <ul>

                                @if (Request.IsAuthenticated)
                                {
                                    if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                                    {
                                        <li class="af-line"></li>
                                        <li><a href="/bat-dong-san-cho-duyet"><i class="icon-icons215"></i> Sản Phâm Chờ Duyệt @Html.Action("GetNum", "Home")</a></li>
                                    }
                                    <li class="af-line"></li>

                                    <li><a href="/chu-so-huu"><i class="icon-icons215"></i> Chủ sở hữu</a></li>
                                    <li class="af-line"></li>
                                    <li><a href="/thong-tin-ca-nhan"><i class="icon-icons215"></i>Tài khoản của tôi</a></li>
                                    <li><a href="/Account/SignOut" class="header-login"><i class="icon-icons179"></i>Đăng Xuất</a></li>
                                }
                                else
                                {
                                    <li><a href="/Account/Login" class="header-login"><i class="icon-icons179"></i>Đăng nhập / Đăng ký</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 hidden-xs hidden-sm"><a href="/"><img id="main_logo" src="/Content/humiland/images/logo2.png" alt="logo" /></a></div>
                    <div class="col-md-10 col-sm-12 col-xs-12">


                        @Html.Action("Info", "Home")
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default no-background navbar-sticky bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand sticky_logo" href="/"><img src="/Content/humiland/images/Logo2.png" class="logo" alt=""></a>
                </div><!-- End Header Navigation -->
                <div class="collapse navbar-collapse nav_3 clearfix" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="active"><a href="/" class="dropdown-toggle" data-toggle="dropdown">TRANG CHỦ </a></li>
                        <li><a href="/chung-toi">VỀ CHÚNG TÔI</a></li>
                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NHÀ ĐẤT BÁN</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">

                                        @Html.Action("nhaban", "Home")
                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown megamenu-fw">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NHÀ ĐẤT THUÊ</a>
                            <ul class="dropdown-menu megamenu-content" role="menu">
                                <li>
                                    <div class="row">

                                        @Html.Action("nhathue", "Home")
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/tin-tuc" class="dropdown-toggle" data-toggle="dropdown">Tin Tức </a>
                        </li>
                        <li><a href="/lien-he">LIÊN HỆ</a></li>
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("SuperAdmin"))
                            {

                                <li id="menu-hide-1"><a href="/bat-dong-san-cho-duyet">Sản Phâm Chờ Duyệt @Html.Action("GetNum", "Home")</a></li>
                            }

                            <li id="menu-hide-2"><a href="/bat-dong-san"> Sản Phẩm Của Tôi</a></li>
                            <li id="menu-hide-2"><a href="/chu-so-huu"> Chủ sở hữu</a></li>
                            <li id="menu-hide-3"><a href="/thong-tin-ca-nhan">Tài khoản của tôi</a></li>
                            <li id="menu-hide-4"><a href="/Account/SignOut" class="header-login">Đăng Xuất</a></li>
                        }
                        else
                        {
                            <li id="menu-hide-5"><a href="/Account/Login" class="header-login">Đăng nhập / Đăng ký</a></li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!--  Header Top End  -->
    @RenderBody()
    <!-- FOOTER -->
    <footer id="footer" class="footer divider layer-overlay overlay-dark-8">
        <div class="container pt-45 pb-25">
            <div class="row ">
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        @*<img class="mt-5 mb-20" alt="" src="/Content/humiland/images/Logo2.png">
                            <p>39 đường số 7, khu Cityland Centre, phường 7, quận Gò Vấp, HCM</p>
                            <ul class="list-inline mt-5">
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">0899 155 002</a> </li>
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">phunghuy.nguyen@yahoo.com.vn</a> </li>
                                <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="#.">humiland.com</a> </li>
                            </ul>*@

                        @Html.Action("DetailInfo", "Home")
                    </div>
                </div>
                <div class="col-sm-6 col-md-1"></div>
                <div class="col-sm-6 col-md-4">
                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Liên hệ ngay bây giờ</h5>
                        <div class="text-gray">
                            @Html.Action("sodienthoai", "Home")
                        </div>
                        <br />
                        <br />
                    </div>

                    <div class="widget dark">
                        <h5 class="widget-title mb-10">Hoặc qua các website</h5>
                        <ul class="socials">
                            @*<li><a href="#."><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#."><i class="fa fa-youtube"></i></a></li>
                                <li><a href="#."><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#."><i class="fa fa-pinterest"></i></a></li>*@

                            @Html.Action("Social", "Home")
                        </ul>
                    </div>
                </div>
                @*<div class="col-sm-6 col-md-3">

                    </div>*@

                <div class="col-sm-6 col-md-3">
                    <div class="widget dark">
                        <h4 class="widget-title">THỜI GIAN LÀM VIỆC</h4>
                        <div class="small-title">
                            <div class="line1 background-color-white"></div>
                            <div class="line2 background-color-white"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="opening-hourse">
                            <ul class="list-border">
                                <li class="clearfix">
                                    <span> T.hai - T.sáu : </span>
                                    <div class="value pull-right"> 8.00 sáng - 5.00 chiều </div>
                                </li>

                                <li class="clearfix">
                                    <span> Thứ bảy : </span>
                                    <div class="value pull-right"> 8.00 sáng - 12.00 trưa </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="footer-bottom text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12">
                                <p class="font-11 m-0 copy-right">Copyright; 2017 <a href="http://lilotech.com"><span class="color_red">Lilotech</span></a>. All Rights Reserved</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- #/FOOTER -->
    @*<script src="js/jquery.2.2.3.min.js"></script>
        <script src="js/videobox/video.html"></script>
        <script src="js/dropzone.min.js"></script>*@



    <script src="/Content/humiland/js/bootstrap.min.js"></script>
    <script src="/Content/humiland/js/jquery.appear.js"></script>
    <script src="/Content/humiland/js/jquery.parallax-1.1.3.js"></script>
    <script src="/Content/humiland/js/owl.carousel.min.js"></script>
    <script src="/Content/humiland/js/jquery.fancybox.js"></script>
    <script src="/Content/humiland/js/cubeportfolio.min.js"></script>
    <script src="/Content/humiland/js/range-Slider.min.js"></script>
    <script src="/Content/humiland/js/selectbox-0.2.min.js"></script>
    <script src="/Content/humiland/js/bootsnav.js"></script>
    <script src="/Content/humiland/js/zelect.js"></script>
    @*<script src="/Content/humiland/js/videobox/video.html"></script>*@
    <script src="/Content/humiland/js/datepicker.js"></script>
    <script src="/Content/humiland/js/image-light-box.js"></script>
    <script src="/Content/humiland/js/wow.min.js"></script>
    <script src="/Content/humiland/js/form.js"></script>
    @*<script src="/Content/humiland/js/normal-map.js"></script>*@
    @*<script src="/Content/humiland/js/custom-map.js"></script>*@
    @*<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U"></script>*@
    @*<script src="/Content/humiland/js/gmaps.js"></script>*@
    @*<script src="/Content/humiland/js/contact.js"></script>*@
    <script src="/Content/humiland/js/themepunch/jquery.themepunch.tools.min.js"></script>
    <script src="/Content/humiland/js/themepunch/jquery.themepunch.revolution.min.js"></script>
    <script src="/Content/humiland/js/themepunch/revolution.extension.layeranimation.min.js"></script>
    <script src="/Content/humiland/js/themepunch/revolution.extension.navigation.min.js"></script>
    <script src="/Content/humiland/js/themepunch/revolution.extension.parallax.min.js"></script>
    <script src="/Content/humiland/js/themepunch/revolution.extension.slideanims.min.js"></script>
    <script src="/Content/humiland/js/themepunch/revolution.extension.video.min.js"></script>
    <script src="/Content/humiland/js/functions.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiQyoh9obh2Ib2lPHK-tte2ApNJsJecSU&libraries=places&callback=initMap">
    </script>
    @*Key
        AIzaSyCCeHRnJnpYF_Q9LKN49OoxukExpZLDdmc
        AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U
        AIzaSyAlEKhSrFJE8o9p5LRT3POl5JtA_1gz2Qs
        AIzaSyAx-eylQu4pPsiI2C_QpufNT8dyJ8V3giU
        AIzaSyAiQyoh9obh2Ib2lPHK-tte2ApNJsJecSU
    *@
    <script>
        $('#txtUploadFile').on('change', function (e) {
            var files = e.target.files;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    $.ajax({
                        type: "POST",
                        url: '/Profile/UploadImageProfile',
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            console.log(result);
                            $("#ImageProfile").attr("src", result.Message);
                            $("#inputImageProfile").val(result.Message);
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
    </script>

</body>
<!-- Mirrored from logicsforest.com/ideahomes_demo_files/index_3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 16 Sep 2017 12:01:43 GMT -->
</html>