@using PagedList.Mvc;
@using Outsourcing.Core.Common;
@using PagedList;
@model IPagedList<Outsourcing.Data.Models.Blog>
@{
    ViewBag.url = "www.humiland.com";
    ViewBag.title = "Tin tức";
    ViewBag.description = "CHUYÊN MUA BÁN NHÀ PHỐ, ĐẤT NỀN TP HCM";
    ViewBag.image = "/Content/humiland/images/logo2.png";
}
<!--===== PAGE TITLE =====-->
<div class="page-title page-main-section">
    <div class="container padding-bottom-top-120 text-uppercase text-center">
        <div class="main-title">
            <h1>Tin Tức</h1>
            @*<h5>10 Years Of Experience!</h5>*@
            <div class="line_4"></div>
            <div class="line_5"></div>
            <div class="line_6"></div>
            <a href="/">Trang Chủ</a>
            <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            <a href="/tin-tuc">Tin Tức</a>
        </div>
    </div>
</div>
<!--===== PAGE TITLE =====-->
<!--===== NEWS - 1 =====-->
<section id="news-section-1" class="property-details padding_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    @* day la list blog  *@
                    @if (Model.Any() && Model != null)
                    {
                      
                            foreach (var item in Model)
                            {
                            <div class="news-1-box clearfix">
                                <div class="col-md-5 col-sm-5 col-xs-12 margin_bottom">
                                    <div class="image newsImage">
                                        <img src="@item.BlogImage" alt="image" class="img-responsive" />
                                    </div>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12 margin_bottom">
                                    <h4><a href="/tin-tuc/@item.Slug" >@item.Title</a></h4>
                                    @*<div class="news-details">
                                        <span><i class="icon-icons230"></i> by Martin Moore</span>
                                        <span><i class="icon-icons228"></i> 22 Tháng 8, 2017</span>
                                    </div>*@
                                    
                                    <p class="p-font-15">@item.Description</p>
                                    <div class="pro-3-link">
                                        <a href="/tin-tuc/@item.Slug" class="link_arrow top20">Đọc thêm</a>
                                    </div>
                                </div>
                            </div>

                        }
                    }

                </div>
                <div class="row">
                    <div class="col-md-12">
                        @*<ul class="pager padding_bottom">
                            <li><a href="#.">1</a></li>
                            <li class="active"><a href="#.">2</a></li>
                            <li><a href="#.">3</a></li>
                        </ul>*@
                        @Html.PagedListPager(Model, page => Url.Action("Index", "BlogHome", new { page }))


                    </div>
                </div>
            </div>
            @*<div class="col-md-4 col-lg-4">
                <div class="search_box blog-thumbnail">
                    <div class="input-group">
                        <input class="form-control custom_input" placeholder="Search" type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default custom_input" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                     /input-group 
                </div>*@
                @*<div class="blog_info blog-thumbnail">
                    <div class="blogimagedescription">
                        <h3>Categories</h3>
                    </div>
                    <ul class="archieves clearfix">
                        <li><a href="#.">Bất Động sản cập nhật</a></li>
                        <li><a href="#.">Các khu Lân Cận</a></li>
                        <li><a href="#.">Các tiện nghị tại Khu dân cư Nam Rạch Chiếc</a></li>
                        <li><a href="#.">Trường Đại học tại Khu dân cư Nam Rạch Chiếc</a></li>
                    </ul>
                </div>*@
                @*<div class="blog_info blog-thumbnail">
                    <div class="blogimagedescription">
                        <h3>Bài Đang Phổ Biến</h3>
                    </div>
                    <ul class="archieves clearfix">
                        <li>
                            <div class="col-md-4 col-sm-2 padding_none">
                                <div class="blogimage_thumbnail">
                                    <img src="/Content/humiland/images/f-p-1.png" alt="blog1 image">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-10">
                                <div class="blogimagedescription">
                                    <h3><a href="#.">Tiêu đề bài viết</a></h3>
                                    <p class="detail">
                                        <span><a href="#.">Ngày 12 Tháng 6,2015</a></span>
                                        <span><a href="#.">John doe</a></span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-4 col-sm-2 padding_none">
                                <div class="blogimage_thumbnail">
                                    <img src="/Content/humiland/images/f-p-2.png" alt="blog1 image">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-10">
                                <div class="blogimagedescription">
                                    <h3><a href="#.">Tiêu đề bài viết</a></h3>
                                    <p class="detail">
                                        <span><a href="#.">Ngày 12 Tháng 6,2015</a></span>
                                        <span><a href="#.">John doe</a></span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="col-md-4 col-sm-2 padding_none">
                                <div class="blogimage_thumbnail">
                                    <img src="/Content/humiland/images/f-p-3.png" alt="blog1 image">
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-10">
                                <div class="blogimagedescription">
                                    <h3><a href="#.">Tiêu đề bài viết</a></h3>
                                    <p class="detail">
                                        <span><a href="#.">Ngày 12 Tháng 6,2015</a></span>
                                        <span><a href="#.">John doe</a></span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>*@
                @*<div class="blog_info blog-thumbnail">
                    <div class="blogimagedescription">
                        <h3>Hồ Sơ Lưu Trữ</h3>
                    </div>
                    <ul class="archieves">
                        <li><a href="#.">Tháng 5 2015</a></li>
                        <li><a href="#.">Tháng 4 2015</a></li>
                        <li><a href="#.">Tháng 2 2015</a></li>
                        <li><a href="#.">Thang 1 2015</a></li>
                        <li><a href="#.">Tháng 11 2014</a></li>
                    </ul>
                </div>*@
                <div class="clearfix"></div>
                @*<h3 class="text-uppercase  bottom40">Thẻ</h3>
                <div class="news-tag">
                    <a href="#.">Dự Kiến</a>
                    <a href="#.">Căn Hộ</a>
                    <a href="#.">Nhà Mẫu</a>
                </div>
                <div class="news-tag">
                    <a href="#.">Sang trọng</a>
                    <a href="#.">Kinh tế</a>
                    <a href="#.">Độc Quyền</a>
                    <a href="#.">Sáng Kiến</a>
                </div>
                <div class="news-tag">
                    <a href="#.">Khu tự nhiên</a>
                    <a href="#.">Nhà Thân Thiện</a>
                </div>*@
                @*<div class="row">
                    <div class="col-md-12 bottom20">
                        <h3 class="text-uppercase top40 bottom40">Bất Động Sản <span class="color_red">Mới Nhất</span></h3>
                    </div>
                    <div class="col-md-12">
                        <div id="agent-3-slider" class="owl-carousel">
                            <div class="item">
                                <div class="property_item">
                                    <div class="image">
                                        <a href="#."><img src="/Content/humiland/images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                                        <div class="feature"><span class="tag-2">Cho Thuê</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property_item">
                                    <div class="image">
                                        <a href="#."><img src="/Content/humiland/images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                                        <div class="feature"><span class="tag-2">Cho Thuê</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property_item">
                                    <div class="image">
                                        <a href="#."><img src="/Content/humiland/images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                                        <div class="feature"><span class="tag-2">Cho Thuê</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!--===== #/NEWS - 1 =====-->
<!--===== CONTACT =====-->
<section id="contact" class="bg-color-red">
    <div class="container">
        <div class="row">
            @*<div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="get-tuch">
                    <i class="icon-telephone114"></i>
                    <ul>
                        <li>
                            <h4 class="p-font-17">Phone Number</h4>
                        </li>
                        <li>
                            <p class="p-font-15">+1 900 234 567 - 68</p>
                        </li>
                    </ul>
                </div>
                <div class="get-tech-line"><img src="/Content/humiland/images/get-tuch-line.png" alt="line" /></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="get-tuch">
                    <i class="icon-icons74"></i>
                    <ul>
                        <li>
                            <h4 class="p-font-17">Victoria Hall,</h4>
                        </li>
                        <li>
                            <p class="p-font-15">Idea Homes, australia</p>
                        </li>
                    </ul>
                </div>
                <div class="get-tech-line"><img src="/Content/humiland/images/get-tuch-line.png" alt="line" /></div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="get-tuch">
                    <i class=" icon-icons142"></i>
                    <ul>
                        <li>
                            <h4 class="p-font-17">Email Address</h4>
                        </li>
                        <li>
                            <a href="#."><p class="p-font-15">info@ideahomes.com</p></a>
                        </li>
                    </ul>
                </div>
            </div>*@
            @Html.Action("Info2", "Home")
        </div>
    </div>
</section>
<!--===== #/CONTACT =====-->
