@using Outsourcing.Core
@model Labixa.Areas.Admin.ViewModel.BlogFormModel
@{
    ViewBag.Title = "Tạo Mơi tin tức";
}
Resources.
@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="/Admin/Blog">Quản lý tin tức</a>
            </li>
            <li class="active">Thêm mới tin tức</li>
        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            
            <div class="alert alert-block alert-info">
            @Resources.Admin_Create
            </div>
            @using (Html.BeginForm("Create", "Blog", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)

                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">
                                <i class="green ace-icon fa fa-home bigger-120"></i>
                                @Resources.Content
                            </a>
                        </li>

                        @*<li class="">
                            <a data-toggle="tab" href="#tab2">
                                @Resources.EditSeo
                            </a>
                        </li>*@
                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.BlogCategoryId)
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.BlogCategoryId, Model.ListCategory)
                                    @Html.ValidationMessageFor(model => model.BlogCategoryId)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.Title)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Title)
                                    @Html.ValidationMessageFor(model => model.Title)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.IsAvailable)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.IsAvailable)
                                    @Html.ValidationMessageFor(model => model.IsAvailable)
                                </div>
                            </div>

                            @*<div class="form-group ">
                                @Html.MyLabelFor(model => model.Position)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Position)
                                    @Html.ValidationMessageFor(model => model.Position)
                                </div>
                            </div>*@

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.BlogImage)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.BlogImage, "GetImageFromElfinder")
                                    @Html.ValidationMessageFor(model => model.BlogImage)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.Description)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Description)
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.Content)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Content, "CkEditor")
                                    @Html.ValidationMessageFor(model => model.Content)
                                </div>
                            </div>
                        </div>

                        <div id="tab2" class="tab-pane fade">

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.MetaKeywords)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaKeywords)
                                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                                </div>
                            </div>

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.MetaTitle)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaTitle)
                                    @Html.ValidationMessageFor(model => model.MetaTitle)
                                </div>
                            </div>

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.MetaDescription)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.MetaDescription)
                                    @Html.ValidationMessageFor(model => model.MetaDescription)
                                </div>
                            </div>
                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.Slug)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Slug)
                                    @Html.ValidationMessageFor(model => model.Slug)
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                                      @*
                        partial for group button
                    *@
                    @Html.Partial("_PartialButtonGroup", "/Admin/Blog")
            }
        </div>
    </div>
</div>
