
@{
    ViewBag.Title = "ChoThueQuan";
    Layout = "~/Views/Shared/_HumilandLayout.cshtml";
}
<!-- PAGE TITLE -->
<div class="page-title page-main-section">
    <div class="container padding-bottom-top-120 text-uppercase text-center">
        <div class="main-title">
            <h1>Những dự án</h1>
            @*<h5>10 Years Of Experience!</h5>*@
            <div class="line_4"></div>
            <div class="line_5"></div>
            <div class="line_6"></div>
            <a href="index_1.html">Trang chủ</a>
            <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            <a href="listing_1.html">Dự án nhà đất</a>
        </div>
    </div>
</div>
<!-- PAGE TITLE -->
<!-- LISTING STYLE-->
<section id="agent-p-2" class="listing-1 bg_light padding_top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="uppercase"><span class="color_red">DỰ ÁN </span>NHÀ ĐẤT</h2>
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <form class="findus">
                    <div class="row bottom30">
                        <div class="col-md-12">
                            <div class="single-query">
                                <div class="intro">
                                    <select>
                                        <option class="active">Lựa chọn mặc định</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="property_item heading_space">
                                <div class="image">
                                    <img src="/Content/humiland/images/property-listing-1.jpg" alt="listin" class="img-responsive">
                                    <div class="overlay">
                                        <div class="centered"><a class="link_arrow white_border" href="@Url.Action("SanPham","ProductHome")">Thông tin chi tiết</a></div>
                                    </div>
                                    <div class="feature"><span class="tag">Nổi bật</span></div>
                                    <div class="price"><span class="tag">Cần bán</span></div>
                                    <div class="property_meta">
                                        <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                        <span><i class="fa fa-bed"></i>2</span>
                                        <span><i class="fa fa-bath"></i>1</span>
                                    </div>
                                </div>
                                <div class="proerty_content">
                                    <div class="proerty_text">
                                        <h3><a href="@Url.Action("SanPham","ProductHome")">Nhà tại TP Hồ Chí Minh</a></h3>
                                        <span class="bottom10">Phường 7, Quận Gò Vấp, HCM</span>
                                        <p><strong>$83,600,200</strong></p>
                                    </div>
                                    <div class="favroute clearfix">
                                        <p class="pull-left"><i class="icon-calendar2"></i> 3 ngày trước</p>
                                        <ul class="pull-right">
                                            <li><a href="#."><i class="icon-video"></i></a></li>
                                            <li><a href="#."><i class="icon-like"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="property_item heading_space">
                                <div class="image">
                                    <img src="/Content/humiland/images/property-listing-1.jpg" alt="listin" class="img-responsive">
                                    <div class="overlay">
                                        <div class="centered"><a class="link_arrow white_border" href="@Url.Action("SanPham","ProductHome")">Thông tin chi tiết</a></div>
                                    </div>
                                    <div class="feature"><span class="tag">Nổi bật</span></div>
                                    <div class="price"><span class="tag">Cần bán</span></div>
                                    <div class="property_meta">
                                        <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                        <span><i class="fa fa-bed"></i>2</span>
                                        <span><i class="fa fa-bath"></i>1</span>
                                    </div>
                                </div>
                                <div class="proerty_content">
                                    <div class="proerty_text">
                                        <h3><a href="@Url.Action("SanPham","ProductHome")">Nhà tại TP Hồ Chí Minh</a></h3>
                                        <span class="bottom10">Phường 7, Quận Gò Vấp, HCM</span>
                                        <p><strong>$83,600,200</strong></p>
                                    </div>
                                    <div class="favroute clearfix">
                                        <p class="pull-left"><i class="icon-calendar2"></i> 3 ngày trước</p>
                                        <ul class="pull-right">
                                            <li><a href="#."><i class="icon-video"></i></a></li>
                                            <li><a href="#."><i class="icon-like"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="property_item heading_space">
                                <div class="property_head text-center">
                                    <a href="#.">
                                        <h3 class="captlize">Biệt thự Helux</h3>
                                    </a>
                                    <p class="p-font-15">Phường 7, Quận Gò Vấp, HCM</p>
                                </div>
                                <div class="image">
                                    <img src="/Content/humiland/images/property-listing-1.jpg" alt="listin" class="img-responsive">
                                    <div class="overlay">
                                        <div class="centered"><a class="link_arrow white_border" href="@Url.Action("SanPham","ProductHome")">Thông tin chi tiết</a></div>
                                    </div>
                                </div>
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1</span>
                                </div>
                                <div class="proerty_content">
                                    <div class="proerty_text">
                                        <p><strong>$83,600,200</strong></p>
                                    </div>
                                    <div class="favroute clearfix">
                                        <p class="pull-left"><i class="icon-calendar2"></i> 3 ngày trước</p>
                                        <ul class="pull-right">
                                            <li><a href="#."><i class="icon-video"></i></a></li>
                                            <li><a href="#."><i class="icon-like"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="property_item heading_space">
                                <div class="property_head default_clr text-center">
                                    <a href="#.">
                                        <h3 class="captlize p-white ">Biệt thự Helux</h3>
                                    </a>
                                    <img src="/Content/humiland/images/listing.png" alt="listin" class="start_tag">
                                    <p class="p-font-15 p-white ">Phường 7, Quận Gò Vấp, HCM</p>
                                </div>
                                <div class="image">
                                    <img src="/Content/humiland/images/property-listing-2.jpg" alt="listin" class="img-responsive">
                                    <div class="price"><span class="tag">Cần bán</span></div>
                                    <div class="overlay">
                                        <div class="centered"><a class="link_arrow white_border" href="@Url.Action("SanPham","ProductHome")">Thông tin chi tiết</a></div>
                                    </div>
                                </div>
                                <div class="property_meta">
                                    <span><i class="fa fa-object-group"></i>530 sq ft </span>
                                    <span><i class="fa fa-bed"></i>2</span>
                                    <span><i class="fa fa-bath"></i>1</span>
                                </div>
                                <div class="proerty_content">
                                    <div class="proerty_text">
                                        <p><strong>$83,600,200</strong></p>
                                    </div>
                                    <div class="favroute clearfix">
                                        <p class="pull-left"><i class="icon-calendar2"></i> 3 ngày trước</p>
                                        <ul class="pull-right">
                                            <li><a href="#."><i class="icon-video"></i></a></li>
                                            <li><a href="#."><i class="icon-like"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pager top40 padding_bottom">
                        <li><a href="#.">1</a></li>
                        <li class="active"><a href="#.">2</a></li>
                        <li><a href="#.">3</a></li>
                    </ul>
                </form>
            </div>
            <div class="col-md-4 colsm-4 col-xs-12">
                <div class="property-query-area padding-all20">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-uppercase  bottom40 top10">Tìm kiếm <span class="color_red">Nâng cao</span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <form class="findus">
                            <div class="col-md-12">
                                <div class="single-query">
                                    <input class="keyword-input" placeholder="Từ khóa " type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query">
                                    <div class="intro">
                                        <select>
                                            <option selected="" value="any">Địa điểm</option>
                                            <option>Địa điểm - 1</option>
                                            <option>Địa điểm - 2</option>
                                            <option>Địa điểm - 3</option>
                                            <option>Địa điểm - 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query">
                                    <div class="intro">
                                        <select>
                                            <option class="active">Loại nhà đất</option>
                                            <option>Loại nhà đất - 1</option>
                                            <option>Loại nhà đất - 2</option>
                                            <option>Loại nhà đất - 3</option>
                                            <option>Loại nhà đất - 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query">
                                    <div class="intro">
                                        <select>
                                            <option class="active">Hướng nhà</option>
                                            <option>Hướng nhà - 1</option>
                                            <option>Hướng nhà - 2</option>
                                            <option>Hướng nhà - 3</option>
                                            <option>Hướng nhà - 4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row search-2">
                        <form action="#">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="single-query">
                                            <div class="intro">
                                                <select>
                                                    <option class="active">Số phòng ngủ</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="single-query">
                                            <div class="intro">
                                                <select>
                                                    <option class="active">Số phòng tắm</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                    <option>6</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="single-query">
                                            <input class="keyword-input" placeholder="Diện tích nhỏ nhất" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="single-query">
                                            <input type="text" class="keyword-input" placeholder="Diện tích lớn nhất">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query-slider">
                                    <label>Mức giá:</label>
                                    <div class="price text-right">
                                        <span>$</span>
                                        <div class="leftLabel"></div>
                                        <span>to $</span>
                                        <div class="rightLabel"></div>
                                    </div>
                                    <div data-range_min="0" data-range_max="1500000" data-cur_min="0" data-cur_max="1500000" class="nstSlider">
                                        <div class="bar"></div>
                                        <div class="leftGrip"></div>
                                        <div class="rightGrip"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="query-submit-button top30">
                                <a href="#." class="btn_fill">Tìm kiếm</a>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="group-button-search">
                                <a data-toggle="collapse" href=".html" class="more-filter">
                                    <i class="fa fa-plus text-1 bg-color-yello" aria-hidden="true"></i>
                                    <i class="fa fa-minus text-2 hide bg-color-yello" aria-hidden="true"></i>
                                    <div class="text-1">Lựa chọn</div>
                                    <div class="text-2 hide">Lựa chọn</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="search-propertie-filters collapse">
                        <div class="container-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="search-form-group white">
                                        <input type="checkbox" name="check-box" />
                                        <span>Giặt ủi</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="search-form-group white">
                                        <input type="checkbox" name="check-box" />
                                        <span>Ban công</span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="search-form-group white">
                                        <input type="checkbox" name="check-box" />
                                        <span>Nhà kho</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-uppercase  bottom40 top40">Nhà đất <span class="color_red">hiện nay</span></h3>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#.">
                                    <img class="media-object" src="/Content/humiland/images/f-p-1.png" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#.">Nhà Historic Town</a></h4>
                                <p>Phường 7, Quận Gò Vấp, HCM</p>
                                <a href="#.">$178,600</a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#.">
                                    <img class="media-object" src="/Content/humiland/images/f-p-2.png" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#.">Nhà Historic Town</a></h4>
                                <p>Phường 7, Quận Gò Vấp, HCM</p>
                                <a href="#.">$178,600</a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#.">
                                    <img class="media-object" src="/Content/humiland/images/f-p-3.png" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#.">Nhà Historic Town</a></h4>
                                <p>Phường 7, Quận Gò Vấp, HCM</p>
                                <a href="#.">$178,600</a>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#.">
                                    <img class="media-object" src="/Content/humiland/images/f-p-1.png" alt="image">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading"><a href="#.">Nhà Historic Town</a></h4>
                                <p>Phường 7, Quận Gò Vấp, HCM</p>
                                <a href="#.">$178,600</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-uppercase bottom40 top40">Nhà đất <span class="cols/ thành src=or_red">nổi bật</span></h3>
                <div id="agent-2-slider" class="owl-carousel">
                    <div class="item">
                        <div class="property_item">
                            <div class="image">
                                <a href="#."><img src="/Content/humiland/images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                                <div class="feature feature_pos"><span class="tag-2">Cho thuê</span></div>
                                <div class="price clearfix"><span class="tag pull-right">$8,600 / tháng- <small>Cho Gia đình</small></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="property_item">
                            <div class="image">
                                <a href="#."><img src="/Content/humiland/images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                                <div class="feature"><span class="tag-2">Cho thuê</span></div>
                                <div class="price clearfix"><span class="tag pull-right">$8,600 / tháng - <small>Cho Gia đình</small></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="property_item">
                            <div class="image">
                                <a href="#."><img src="/Content/humiland/images/property-listing-6.jpg" alt="listin" class="img-responsive"></a>
                                <div class="feature"><span class="tag-2">Cho thuê</span></div>
                                <div class="price clearfix"><span class="tag pull-right">$8,600 / tháng - <small>Cho Gia đình</small></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- LISTING -->

