@using Outsourcing.Core
@model Labixa.Areas.Admin.ViewModel.ProductFormModel
@{
    ViewBag.Title = "Chỉnh sửa Bất động sản";

}
@using Outsourcing.Core.Extensions;
@section scripts{
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckeditor/config.js"></script>
}
@section breadcrumb
{
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>
            <li>
                <i class="icon-edit"></i>
                <a href="/Admin/Product">Quản lý sản phẩm</a>
            </li>
            <li class="active">Chỉnh sửa sản phẩm</li>
        </ul>
    </div>
}
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-block alert-info">
                Chỉnh sửa sản phẩm
            </div>
            @using (Html.BeginForm("Edit", "Product", null, FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.product.Id)
    @Html.HiddenFor(model => model.product.Deleted)
    @Html.HiddenFor(model => model.product.DateCreated)
                @Html.HiddenFor(model => model.product.Slug)
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">
                                <i class="green icon icon-home bigger-120"></i>
                                Nội dung
                            </a>
                        </li>

                        @*<li class="">
                                <a data-toggle="tab" href="#tab2">
                                    <i class="red  icon-rocket bigger-120"></i>
                                    Chỉnh sửa SEO
                                </a>
                            </li>*@
                        <li class="">
                                <a data-toggle="tab" href="#tab3">
                                    <i class="blue  icon-picture bigger-120"></i>
                                    Thuộc tính sản phẩm
                                </a>
                            </li>
                        <li class="">
                            <a data-toggle="tab" href="#tab4">
                                <i class="blue  icon-picture bigger-120"></i>
                                Hình ảnh
                            </a>
                        </li>
                        @*<li class="">
                                <a data-toggle="tab" href="#tab5">
                                    <i class="blue  icon-picture bigger-120"></i>
                                    Tour Liên Quan
                                </a>
                            </li>*@
                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade active in">
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Danh Muc 1</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.CategoryId, Model.ListProductCategory)
                                </div>
                            </div>

                            @*<div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Danh Muc 2</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.CategoryId2, Model.ListProductCategory)
                                </div>
                            </div>*@
                            @*<div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Màu</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.product.ColorId, Model.ListColors)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Nhà phân phối</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.product.VendorId, Model.Vendor)
                                </div>
                            </div>*@
                            @*<div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Vị trí</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.product.LocationId, Model.Location)
                                </div>
                            </div>*@
                            @*<div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Giảm Giá</label>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.product.PromotionId, Model.Promotion)
                                </div>
                            </div>*@

                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Tên Sản Phẩm</label>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.Name)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Sản Phẩm Mới</label>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.IsNew)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Hiển thị</label>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.IsPublic)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Giá</label>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.Price)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Mô tả</label>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.Description)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Mã Sp</label>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.CodeName)
                                </div>
                            </div>
                            <div class="form-group ">
                                <label class="col-sm-3 control-label no-padding-right" for="BlogCategoryId">Nội dung</label>

                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.Content, "CkEditor")
                                </div>
                            </div>

                            @*<div class="form-group ">
                                    @Html.MyLabelFor(model => model.product.Position)
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.product.Position)
                                        @Html.ValidationMessageFor(model => model.product.Position)
                                    </div>
                                </div>
                                <div class="form-group ">
                                    @Html.MyLabelFor(model => model.product.IsHomePage)
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.product.IsHomePage)
                                        @Html.ValidationMessageFor(model => model.product.IsHomePage)
                                    </div>
                                </div>*@
                            @*<div class="form-group ">
                                    @Html.MyLabelFor(model => model.product.)
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.product.ProductImage)
                                        <a href="javascrip:void(0)" id="GetElImage" class="btn btn-success"><i class="icon-upload"></i>Chọn ảnh</a>
                                        @Html.ValidationMessageFor(model => model.product.ProductImage)
                                    </div>
                                </div>*@
                            @*<div class="form-group ">
                                    @Html.MyLabelFor(model => model.product.Description)
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.product.Description)
                                        @Html.ValidationMessageFor(model => model.product.Description)
                                    </div>
                                </div>
                                <div class="form-group ">
                                    @Html.MyLabelFor(model => model.product.Price)
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.product.Price)
                                        @Html.ValidationMessageFor(model => model.product.Price)
                                    </div>
                                </div>
                                <div class="form-group ">
                                    @Html.MyLabelFor(model => model.product.OldPrice)
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.product.OldPrice)
                                        @Html.ValidationMessageFor(model => model.product.OldPrice)
                                    </div>
                                </div>
                                <div class="form-group ">
                                    @Html.MyLabelFor(model => model.product.Content)
                                    <div class="col-sm-9">
                                        @Html.EditorFor(model => model.product.Content, "CkEditor")
                                        @Html.ValidationMessageFor(model => model.product.Content)
                                    </div>
                                </div>*@

                        </div>

                        <div id="tab2" class="tab-pane fade">

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.product.MetaKeywords)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.MetaKeywords)
                                    @Html.ValidationMessageFor(model => model.product.MetaKeywords)
                                </div>
                            </div>

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.product.MetaTitle)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.MetaTitle)
                                    @Html.ValidationMessageFor(model => model.product.MetaTitle)
                                </div>
                            </div>

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.product.MetaDescription)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.MetaDescription)
                                    @Html.ValidationMessageFor(model => model.product.MetaDescription)
                                </div>
                            </div>

                            <div class="form-group ">
                                @Html.MyLabelFor(model => model.product.Slug)
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.product.Slug)
                                    @Html.ValidationMessageFor(model => model.product.Slug)
                                </div>
                            </div>
                        </div>

                        <div id="tab3" class="tab-pane fade">
                            <div class="form-group ">
                                @Html.EditorFor(model => model.product.ProductAttributeMappings)
                            </div>
                        </div>
                        <div id="tab4" class="tab-pane fade">
                            <div class="form-group ">
                                @Html.EditorFor(model=>model.product.ProductPictureMappings)
                            </div>
                        </div>
                        <div id="tab5" class="tab-pane fade">
                            <div class="form-group ">
                                Bạn cần tạo sản phẩm trước khi chỉnh sửa Tour liên quan
                            </div>
                        </div>
                    </div>
                </div>



                @*
                    partial for group button
                *@
                @Html.Partial("_PartialButtonGroup", "/Admin/Product")
            }
        </div>
    </div>
</div>