<style>
    input[type='range'] {
        width: 180px;
        height: 30px;
        overflow: hidden;
        cursor: pointer;
        outline: none;
    }

        input[type='range'],
        input[type='range']::-webkit-slider-runnable-track,
        input[type='range']::-webkit-slider-thumb {
            -webkit-appearance: none;
            background: none;
        }

            input[type='range']::-webkit-slider-runnable-track {
                width: 200px;
                height: 1px;
                background: #003D7C;
            }

            input[type='range']:nth-child(2)::-webkit-slider-runnable-track {
                background: none;
            }

            input[type='range']::-webkit-slider-thumb {
                position: relative;
                height: 15px;
                width: 15px;
                margin-top: -7px;
                background: #fff;
                border: 1px solid #003D7C;
                border-radius: 25px;
                z-index: 1;
            }


            input[type='range']:nth-child(1)::-webkit-slider-thumb {
                z-index: 2;
            }

    .rangeslider {
        position: relative;
        height: 60px;
        width: 210px;
        display: inline-block;
        margin-top: -5px;
        margin-left: 20px;
    }

        .rangeslider input {
            position: absolute;
        }

    .rangeslider {
        position: absolute;
    }

        .rangeslider span {
            position: absolute;
            margin-top: 30px;
            left: 0;
        }

        .rangeslider .right {
            position: relative;
            float: right;
            margin-right: 20px;
        }
</style>
@{
    ViewBag.url = "www.humiland.com";
    ViewBag.title = "Humiland Trang Giao Dịch Bất Động Sản Tại TP HCM";
    ViewBag.description = "CHUYÊN MUA BÁN NHÀ PHỐ, ĐẤT NỀN TP HCM";
    ViewBag.image = "/Content/humiland/images/logo2.png";
    Layout = "~/Views/Shared/_HumilandLayout.cshtml";
}
@using PagedList.Mvc;
@using Outsourcing.Core.Common;
@using PagedList;
@model IPagedList<Outsourcing.Data.Models.Product>

<div class="page-title page-main-section">
    <div class="container padding-bottom-top-120 text-uppercase text-center">
        <div class="main-title">
            <h1>Nhà đất</h1>
            <div class="line_4"></div>
            <div class="line_5"></div>
            <div class="line_6"></div>
            @*<a href="/">Trang chủ</a>
                    <span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                <a href="@Url.Action("SanPham", "ProductHome")">Nhà Bán</a>*@
        </div>
    </div>
</div>
<!--PAGE TITLE -->

<section id="agent-p-2" class="listing-1 bg_light padding_top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="uppercase"><span class="color_red">DỰ ÁN </span>NHÀ ĐẤT</h2>
                <div class="line_1"></div>
                <div class="line_2"></div>
                <div class="line_3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <form class="findus">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (!item.Deleted)
                            {

                                <div class="col-md-6 col-sm-6">
                                    <div class="property_item heading_space">
                                        <div class="image">
                                            <img src="@item.ProductPictureMappings.FirstOrDefault().Picture.Url" alt="listin" class="img-responsive">
                                            <div class="overlay">
                                                <div class="centered">
                                                    <a class="link_arrow white_border" href="/san-pham/@item.Slug">
                                                        Thông tin chi tiết
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="feature">
                                                <span class="tag">
                                                    Nổi bật
                                                </span>
                                            </div>
                                            <div class="price">
                                                <span class="tag">
                                                    @if (item.ProductAttributeMappings.Where(p => p.ProductAttributeId == 24).FirstOrDefault().Value.Equals("true"))
                                                    {
                                                        <span>
                                                            Cần bán
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span>
                                                            Cần cho thuê
                                                        </span>
                                                    }
                                                </span>
                                            </div>
                                            <div class="property_meta">
                                                <span>
                                                    <i class="fa fa-object-group"></i>
                                                    @item.ProductAttributeMappings.Where(p => p.ProductAttributeId == 3).FirstOrDefault().Value @item.ProductAttributeMappings.Where(p => p.ProductAttributeId == 3).FirstOrDefault().ProductAttribute.Name
                                                </span>
                                                <span>
                                                    <i class="fa fa-bed"></i>
                                                    @item.ProductAttributeMappings.Where(p => p.ProductAttributeId == 4).FirstOrDefault().Value Phòng ngủ
                                                </span>
                                                <span>
                                                    <i class="fa fa-bath"></i>
                                                    @item.ProductAttributeMappings.Where(p => p.ProductAttributeId == 5).FirstOrDefault().Value Phòng tắm
                                                </span>
                                                <span>
                                                    <i class="fa fa-car"></i>
                                                    @{
                                                        if (item.ProductAttributeMappings.Where(p => p.ProductAttributeId == 7).FirstOrDefault().Value.Equals(true))
                                                        {
                                                            <span>
                                                                Có
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                Không
                                                            </span>
                                                        }
                                                    }Nhà xe
                                                </span>
                                            </div>
                                        </div>
                                        <div class="proerty_content">
                                            <div class="proerty_text">
                                                <h3>
                                                    <a href="/san-pham/@item.Slug">
                                                        @slitString.TruncateAtWord(@item.Name, 20)
                                                    </a>
                                                </h3>
                                                <span class="bottom10">
                                                    @item.ProductAttributeMappings.Where(p => p.ProductAttributeId == 18).FirstOrDefault().Value
                                                </span>
                                                <p>
                                                    <strong>
                                                        @item.OrginalPrice.ToString("#,##0") VND
                                                    </strong>
                                                </p>
                                            </div>
                                            <div class="favroute clearfix">
                                                <p class="pull-left">
                                                    <i class="icon-calendar2"></i>
                                                    @item.DateCreated.ToLongDateString()
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                            }
                                                        }
                    </div>
                    <ul class="pager top40 padding_bottom">
                        @*<li><a href="#.">1</a></li>
                            <li class="active"><a href="#.">2</a></li>
                            <li><a href="#.">3</a></li>*@

                        @Html.PagedListPager(Model, page => Url.Action("ChoBanQuan", "ProductHome", new { page, slug = (string)ViewBag.slug }))
                    </ul>
                </form>
            </div>
            <div class="col-md-4 colsm-4 col-xs-12">
                <div class="property-query-area padding-all20">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-uppercase  bottom40 top10">Tìm kiếm <span class="color_red">Nâng cao</span></h3>
                        </div>
                    </div>
                    @Html.Action("Search","ProductHome")
                    @*<form class="findus" action="/tim-kiem" method="get">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single-query">
                                    <input class="keyword-input" placeholder="Từ khóa " type="text" name="keyword">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query">
                                    <div class="intro">
                                        <select name="place">
                                            <option>Địa điểm</option>
                                            @foreach (var item in ViewBag.category)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query">
                                    <div class="intro">
                                        <select name="type">
                                            <option>Loại nhà đất</option>
                                            <option value="true">Cho bán</option>
                                            <option value="false">Cho thuê</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query">
                                    <div class="intro">
                                        <select name="direction">
                                            <option>Hướng nhà</option>
                                            <option value="Đông">Đông</option>
                                            <option value="Tây">Tây</option>
                                            <option value="Nam">Nam</option>
                                            <option value="Bắc">Bắc</option>
                                            <option value="Đông Bắc">Đông Bắc</option>
                                            <option value="Tây Bắc">Tây Bắc</option>
                                            <option value="Tây Nam">Tây Nam</option>
                                            <option value="Đông Nam">Đông Nam</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row search-2">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="single-query">
                                            <input class="keyword-input" placeholder="Diện tích nhỏ nhất" type="text" name="minArea">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="single-query">
                                            <input type="text" class="keyword-input" placeholder="Diện tích lớn nhất" name="maxArea">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="single-query-slider">
                                    <label>Mức giá:</label>

                                    <div class="rangeslider">
                                        <input class="min" name="minPrice" type="range" min="0" max="50" value="0" />
                                        <input class="max" name="maxPrice" type="range" min="0" max="50" value="50" />
                                        <span class="range_min light left">0 tỉ VND</span>
                                        <span class="range_max light right">50 tỉ VND</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <div class="query-submit-button top30">
                                    <button type="submit" class="btn_fill">Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </form>*@
                </div>
            </div>
        </div>
    </div>

</section>
<!-- LISTING -->
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>*@

<script>
    (function () {

        function addSeperator(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function rangeInputChangeEventHandler(e) {
            var rangeGroup = $(this).attr('name'),
                minBtn = $(this).parent().children('.min'),
                maxBtn = $(this).parent().children('.max'),
                range_min = $(this).parent().children('.range_min'),
                range_max = $(this).parent().children('.range_max'),
                minVal = parseInt($(minBtn).val()),
                maxVal = parseInt($(maxBtn).val()),
                origin = $(this).context.className;

            if (origin === 'min' && minVal > maxVal - 2) {
                $(minBtn).val(maxVal - 2);
            }
            var minVal = parseInt($(minBtn).val());
            $(range_min).html(addSeperator(minVal * 1) + ' tỉ VND');


            if (origin === 'max' && maxVal - 2 < minVal) {
                $(maxBtn).val(2 + minVal);
            }
            var maxVal = parseInt($(maxBtn).val());
            $(range_max).html(addSeperator(maxVal * 1) + ' tỉ VND');
        }

        $('input[type="range"]').on('input', rangeInputChangeEventHandler);
    })();
</script>